@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

:root{
  --cor-principal: #000000;
  --cor-conteudo: #ffffff;
  --cor-bottom: rgb(29, 125, 214);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

html {
  box-sizing: border-box;
  background-color: var(--cor-principal)
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
input,
select,
textarea {
  color: var(--cor-conteudo);
  font-family: "Open Sans", sans-serif;
  font-size: 20 px;
}

a {
  border-bottom: 1px;
  color: var(--cor-bottom);
  text-decoration: none;
}

.fonte {
  color: var(--cor-conteudo);
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 16px 0;
}

h1 {
  font-size: 60px;
  margin: 0 0 8 0;
  line-height: 1.5;
}

@media (max-width: 1680px) {
  h1 {
    font-size: 52px;
  }
}

@media (max-width: 980px) {
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 736px) {
  h1 {
    font-size: 28px;
    line-height: 1.4;
  }

  h2 {
    font-size: 20px;
  }
}
div.actions {
  margin-top: 5px;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -16px;
  padding-left: 0;
}

button,
.button {
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px var(--cor-bottom);
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  margin-top: 10PX;
  margin-left: 15px;
  height: 56px;
  line-height: 56px;
  padding: 0 36px;
  text-align: center;
  white-space: nowrap;
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

.posts article {
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0 0 96px 96px;
  position: relative;
  width: 400px;
}

#wrapper {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100vh;
}

#main {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

#main>.inner {
  padding: 0 96px 1.6px 96px;
  margin: 0 auto;
  max-width: 110em;
}

#main>.inner>section {
  padding: 96px 64px 0  0;
  border-top: solid 2px var(--cor-conteudo);
}

 @media screen and (max-width: 1680px) {
  #main>.inner {
    padding: 0 80px 1.6px 8px;
  }
}

@media screen and (max-width: 1280px) {
  #main>.inner {
    padding: 0 64px 1.6px 64px;
  }

  #main>.inner>section {
    padding: 64px 0 32px 0;
  }
}

@media screen and (max-width: 736px) {
  #main>.inner {
    padding: 0 32px 1.6px 16px;
  } 
}

#banner {
  padding: 96px 0 64px 0;
  display: flex;
}

#banner h1 {
  margin-top: 2px;
}

#banner .content {
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
}

#banner .image {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  margin: 0 0 32px 64px;
  width: 50%;
}

#banner .image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

@media (orientation: portrait) {
  #banner {
    flex-direction: column-reverse;
  }

  #banner h1 br {
    display: none;
  }

  #banner .content {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
  }

  #banner .image {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 0 64px 0;
    height: 400px;
    max-height: 50vh;
    min-height: 288px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  #banner .image {
    max-height: 35vh;
  }
}

.dp-menu {
  width: 1000px;
}

.dp-menu ul {
  list-style-type: none;
  background-color: var(--cor-principal);
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;

}

.dp-menu ul li {
  display: inline;
  position: relative;
}

.dp-menu ul li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  transition: background .3s;
}

.dp-menu ul li a:hover {
  background-color: var(--cor-bottom);
}

.dp-menu ul ul {
  display: none;
  position: absolute;
  width: 127px;
  left: 0;
}

.dp-menu ul li:hover ul {
  display: block;
  opacity: 1;
}

.dp-menu ul ul li a {
  display: block;
}

.major {
  margin-left: 95px;
  margin-bottom: 50px;
}
.fonte{
  margin-top: 10px
}